<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/jpg" href="{{ url_for('static', filename='chave.png') }}"/>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Chaveiro</title>
  </head>
  <body>
    <header>
      <h1>CHAVEIRO</h1>
      <nav class="nav-bar">
        <a href="{{ url_for('aplicativo.index') }}" > <img class="nav-bar-img" src="{{ url_for('static', filename='logo.png') }}" alt="logo"></a>
        <ul class="navegador">
          <li class="itens_nav">
            <a href="{{ url_for('chave.index') }}">CHAVES</a>
          </li>
          <li class="itens_nav">
            <a href="{{ url_for('servidor.index') }}">SERVIDORES</a>
          </li>
          <li class="itens_nav">
            <a href="{{ url_for('emprestimo.index') }}">EMPRESTIMOS</a>
          </li>
          <li class="itens_nav">
            <a href="{{ url_for('aplicativo.about') }}">SOBRE</a>
          </li>
        </ul>
      </nav>
    </header>
    <div class = "container">
      {% block content %}
        
      {% endblock %}
      <div class="container-img">
        <img src="{{ url_for('static', filename='tecnologias.png') }}" alt="flask">
      </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <div id="flash-message">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
      {% endwith %}
     </div>
  </body>
<a href="http://" target="_blank" rel="noopener noreferrer"></a>
  <footer class="footer-pag">
    <a href="https://github.com/MurilodioPy/Flask-WebSite" target="_blank"><img class="footer-pag-item" src="{{ url_for('static', filename='gitgithub.png') }}" alt="flask" width="100px"></a>
    <div class="footer-pag-item">
      <div>
        <p>Projeto desenvolvido </p> 
        <p>com Pyhton/Flask-MySQL:</p>
      </div>
      <img src="{{ url_for('static', filename='flask.svg') }}" alt="flask" width="100px">
    </div>
  </footer>
</html>
